body{
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.card{
    width: 400px;
    margin: 200px auto;
    border: 1px dotted black;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 8px solid #d8cefe;
}

.avatar{
    width: 150px;
}

